
.DS_Store
SwoomBackEnd/.idea/.idea.SwoomBackEnd.dir/.idea/workspace.xml
SwoomBackEnd/obj/Debug/net5.0/SwoomBackEnd.csproj.CopyComplete
SwoomBackEnd/.idea/.idea.SwoomBackEnd.dir/.idea/vcs.xml
SwoomBackEnd/.idea/.idea.SwoomBackEnd.dir/.idea/indexLayout.xml
